Package: com.xyz.moxen.abc-1080h-2x-ipad
Version: 2009
Section: XenHTML ( Assets )
Name: macOS Mojave ( iPad 10.2" )
Author: Aeneon <aeneon@avalon-studios.de>
Maintainer: Aeneon <aeneon@avalon-studios.de>
Icon: file:///usr/share/macthemes/sections/xenhtml@2x.png
Pre-Depends: cy+model.ipad, gsc.main-screen-height (= 2160)
Depends: com.macthemes.moxen (>= 2007)
Architecture: iphoneos-arm
Description: macOS Mojave meets "moXen" …
Depiction: https://repo.avalon-studios.de/package.php?id=com.macthemes.moxen.mojave
